:root {
    --text: #314053;
    --accent: #9B4243;
    --main: #D39394;
    --light-accent: #D4B8AC;
    --light-col: #C6C6C6;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100vh;
}


.card {
    width: 60%;
    max-width: 1000px;
    margin: 5% auto;
    overflow: auto;
    border: none;
    background-color: var(--main);
    overflow: hidden;
}

.profile-img {
    background-image: url('./profile-img.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.main-text {
    color: var(--text);
    padding: 40px;
}

h1 {
    color: var(--accent);
    font-size: 7em;
    font-family: 'Rubik Moonrocks', cursive;
}

p {
    margin-bottom: 30px;
}

a {
    color: var(--text);
    display: block;
    background-color: var(--light-accent);
    padding: 8px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 600;
    transition: 0.2s ease-out;
}

.social-links a {
    display: inline-block;
    width: 30%;
}

.social-links .linkedin,
.social-links .github {
    margin-right: 4%;
}

a:hover {
    background-color: var(--text);
    color: var(--light-accent);
    text-decoration: none;
}

@media only screen and (max-width: 1425px) {
    :root {
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 1100px) {
    :root {
        font-size: 10px;
    }
    
}